* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: snow;
    text-align: center;
}

.header {
    margin: 10vh auto;
    width: 60vw;
    padding: 20px;
}

.header > * {
    margin: 10px;
}

#searchbox {
    width: 75%;
    background-color: snow;;
}

#clicker {
    width: 20%;
}

.hidden {
    display: none;
}

#searchbox, button {
    font-family: inherit;
    border: none;
    margin: 5px;
    padding: 8px;
    width: 30vw
}

#searchbox {
    outline: none;
    border-bottom: 2px solid slateblue;
    
}


button {
    background-color: slateblue;
    color: #fdebec;
    border-radius: 5px;
    transition: 0.2s;
    font-family: inherit;
    margin: 10px;
}

#gif-results {
    width: 60vw;
    margin: 30px auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gif {
    flex-direction: column;
    position: relative;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
}

.gif :hover {
    transition: transform .2s;
    transform: scale(1.1);
}
